
.individual-album {
    position: relative;
    left: 400px;
}

.individual-album .photo-grid {
    grid-template-columns: repeat(3, 300px);
}

.individual-album .photo-link {
    height: 300px;
}

.individual-album .photo {
    width: 300px;   
    height: 300px;   
}

.individual-album .fake-photo-grid {
    grid-template-columns: repeat(3, 300px);
}

.individual-album .fake-photo {
    width: 300px;   
    height: 300px;   
}

.individual-album .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.individual-album .header h2 {
    font-size: 2rem;
}

.individual-album .header .delete-album {
    height: 40px;
    background-color: #e24242;
    border: none;
}