
.user-page {
    width: 100%;
    height: 80%;
}

.user-page .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10rem;
    height: 100%;
}

.user-info {
    /* width: 400px; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    position: absolute;
    left: 100px;
}

.user-info > * {
    width: 100%;
}

.d-block {
    display: block;
}

.user-info h2 {
    color: var(--accent-color);
    font-weight: 900;
    font-size: 2.75rem;
    margin: 0;
    line-height: 1.25;
}

.user-id {
    color: #bbb;
    font-weight:300;
    font-size: 2rem;
}

.user-links {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    font-size: 1.15rem;
    margin-top: 0.35rem;
}

.user-links a {
    color: black;
}

.user-links a:hover {
    color: var(--accent-color);
}

.user-links .dot {
    width: 5px;
    height: 5px;
    background-color: var(--accent-color);
    border-radius: 100rem;
}

.user-links .bold {
    font-weight: 700;
}

.user-details {
    margin-top: 2.5rem;
}

.detail {
    margin-bottom: 1rem;
}

.detail > * {
    margin: 0;
}

.gray {
    color: #ababab;
}

.logout-link {
    font-weight: 600;
    margin-top: 2rem;
}