#root {
  width: 100%;
  margin: 0;
  padding: 1rem 1.5rem;
}

.logo {
    font-weight: 600;
    font-size: 1.75rem;
    transition: color 200ms ease;
}

.logo a {
    transition: color 200ms ease;
}

.navBar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-links a {
    color: black;
    padding: 0.65rem 1.125rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    transition: color 200ms ease;
    transition-property: color, border;
}

.nav-links a:not(:last-child) {
    margin-right: 2rem;
}

a.sign-in {
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    font-weight: 500;
    color: white;
}

a.sign-in:hover {
    background-color: #fff;
    color: var(--accent-color);
}